<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Selfie.VC</title>
</head>
<body>
   <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
         <td><img src="https://my.selfie.vc/static/images/logo.png" alt="Selfie.VC" height="20"/></a></td>
      </tr>
		{% block body %}
		{% endblock %}
   	<tr>
   	   <td style="font-family:Arial, Helvetica, sans-serif; color:#666;">For questions or comments please contact <a href="mailto:support@selfie.vc">support@selfie.vc</a>.</td>
   	</tr>
	</table>
</body>
</html>
