{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "security/layout.html" %}
{% block security_header %}
   <h1>Password Reset</h1>
	<p>Please enter your new password which must satisfie the following conditions :</p>
	<ul>
	  <li>contain one or more English alphabetic characters</li>
	  <li>contain one or more digits</li>
	  <li>contain at least 8 characters</li>
	  <li>contain at most 64 characters</li>
	</ul>
{% endblock %}
{% block security_body %}
	<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
	  {{ reset_password_form.hidden_tag() }}
	  {{ render_field_with_errors(reset_password_form.password) }}
	  {{ render_field(reset_password_form.submit, class="btn btn-primary") }}
	</form>
{% endblock %}
